# Version Control
.git
.gitignore

# Dependency Directories
node_modules/

# Environment Files
.env
*.env
*.local

# Build Artifacts
target/
build/
dist/
out/

# Logs
*.log
logs/

# Editor Files
.vscode/
.idea/
*.swp
.DS_Store

# Development Documentation
*.md
README*

# Tests
tests/

# Database files
*.db*
*.sqlite*
*.sqlite3*
